@import 'tailwindcss';

.editor-code {
  @apply relative m-0 my-4 block overflow-auto px-8 py-4 whitespace-pre;

  line-height: 1.53;
  tab-size: 2;
}

.editor-code:after {
  content: attr(data-highlight-language);
  top: 2%;
  right: 5px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-quote {
  @apply text-muted-foreground my-4 rounded border p-2 font-medium;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.toolbar {
  @apply bg-background z-50 rounded border shadow-2xl;
}

.toolbar button.toolbar-item {
  @apply active:bg-muted hover:bg-muted flex h-[35px] w-[35px] cursor-pointer items-center justify-center border-0 bg-none p-2.5 transition-colors;
}

.toolbar button.toolbar-item.active {
  @apply bg-muted;
}

.toolbar button.toolbar-item:first-child {
  @apply rounded-l;
}

.toolbar button.toolbar-item:last-child {
  @apply rounded-r;
}

.toolbar button.toolbar-item:disabled {
  @apply cursor-not-allowed;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  @apply opacity-20;
}

.toolbar button.toolbar-item.active i {
  @apply opacity-100;
}

.toolbar .divider {
  @apply bg-muted mx-1 w-[1px];
}

.toolbar select.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
}

.toolbar select.code-language {
  text-transform: capitalize;
  width: 130px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

#block-controls button:hover {
  @apply bg-muted;
}

#block-controls span.block-type {
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
}

.dropdown {
  @apply bg-background absolute rounded-xl p-2 shadow-xl;

  z-index: 5;
  display: block;
  min-width: 100px;
  min-height: 40px;
}

.dropdown .item {
  @apply dark:bg-background flex w-full min-w-[268px] cursor-pointer items-center justify-between rounded-lg border-0 p-2;
}

.dropdown .item .active {
  @apply flex h-[20px] w-[20px] bg-contain;
}

.dropdown .item:first-child {
  @apply mt-4;
}

.dropdown .item:last-child {
  @apply mb-4;
}

.dropdown .item .text {
  @apply flex w-[200px] flex-grow leading-[20px];
}

.link-editor {
  @apply bg-background shadow-xl;

  position: absolute;
  z-index: 100;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  max-width: 300px;
  width: 100%;
  opacity: 0;
  border-radius: 8px;
  transition: opacity 0.5s;
  display: flex;
}

.link-editor .link-input {
  @apply bg-muted relative flex rounded-lg;

  width: calc(100% - 24px);
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  border: 0;
  outline: 0;
}

.link-editor .link-input a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
  text-decoration: underline;
}

.link-editor .button {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 2px;
}

.link-editor .button.hovered {
  @apply bg-muted;

  width: 20px;
  height: 20px;
  display: inline-block;
}

.link-edit {
  @apply text-muted-foreground hover:text-foreground cursor-pointer transition-colors;

  position: fixed;
  right: 8px;
  font-size: 12px;
  font-weight: 500;
}

.link-edit:before {
  content: 'Edit';
}

.link-edit:hover {
  text-decoration: underline;
}

.link-editor .button i,
.actions i {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -0.25em;
}

.blinking-cursor {
  @apply bg-background;

  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 15px;
}

@-webkit-keyframes blink {
  0% {
    background: #222;
  }
  50% {
    background: #fff;
  }
  100% {
    background: #222;
  }
}

.draggable-block-menu {
  border-radius: 4px;
  padding: 2px 2px;
  cursor: grab;
  position: absolute;
  left: -10000px;
  top: -10000px;
  transform: translateX(0.5em);
}

.draggable-block-menu:active {
  @apply cursor-grabbing;
}

.draggable-block-target-line {
  pointer-events: none;
  background: deepskyblue;
  height: 4px;
  position: absolute;
  left: -10000px;
  top: -10000px;
  opacity: 0;
}

.dark .link-editor {
  @apply text-primary-foreground;
}

.dark .link-input {
  @apply text-primary-foreground;
}

.editor-image {
  @apply relative inline-block max-w-full;
}

.editor-image img {
  @apply h-auto max-w-full cursor-pointer;
}

.editor-code[data-language]:after {
  color: #fff;
}
